<div class="animated fadeIn">

  <h2 translate="settings.title"></h2>

  <div class="row">
    <div class="col-md-12">

      <form role="form" ng-submit="edit()" name="editForm">
        <div class="panel panel-default" ng-class="{'panel-default': !editError, 'panel-danger': editError}">

          <div class="panel-heading">
            <strong translate="settings.editHere" ng-show="!editError"></strong>
            <strong translate="settings.editError" ng-show="editError"></strong>
          </div>

          <div class="panel-body">
            <div class="form-group">
              <label for="name" translate="register.name"></label>
              <input type="text" class="form-control" id="name" minlength="3" required ng-model="name">
            </div>
            <label for="language" class="control-label" translate="settings.language"></label>
            <div class="radio" id="language">
              <label>
                <input type="radio" name="language" ng-model="language" value="de">
                {{'global.german' | translate}}
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="language" ng-model="language" value="en">
                {{'global.english' | translate}}
              </label>
            </div>
          </div>

          <div class="panel-footer">
            <button type="submit" class="btn btn-success" ladda="editing" data-style="zoom-in" ng-disabled="editForm.$invalid">
              <i class="fa fa-check"></i>
              <span translate="settings.edit"></span>
            </button>
          </div>

        </div>
      </form>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <form role="form" ng-submit="uploadAvatar()" name="avatarForm">
        <div class="panel panel-default" ng-class="{'panel-default': !avatarError, 'panel-danger': avatarError}">

          <div class="panel-heading">
            <strong translate="settings.uploadAvatarHere" ng-show="!avatarError"></strong>
            <strong translate="settings.avatarError" ng-show="avatarError"></strong>
          </div>

          <div class="panel-body">
            <div class="form-group">
              <label translate="settings.currentAvatar"></label>
              <img ng-src="api/users/avatar/{{avatarUrl}}" alt="{{account.name}}" class="img-responsive img-circle">
            </div>
            <div class="form-group">
              <label for="file" translate="settings.image"></label>
              <input type="file" id="file" accept="image/*;capture=camera">
              <p class="help-block" translate="settings.avatarMaxSize"></p>
            </div>
          </div>

          <div class="panel-footer">
            <button type="submit" class="btn btn-success" ladda="uploadingAvatar" data-style="zoom-in" ng-disabled="avatarForm.$invalid">
              <i class="fa fa-check"></i>
              <span translate="settings.uploadAvatar"></span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="deleteAvatar()">
              <i class="fa fa-times"></i>
              <span translate="settings.deleteAvatar"></span>
            </button>
          </div>

        </div>
      </form>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <form role="form" ng-submit="updatePassword()" name="passwordForm">
        <div class="panel panel-default" ng-class="{'panel-default': !passwordError, 'panel-danger': passwordError}">

          <div class="panel-heading">
            <strong translate="settings.updatePasswordHere" ng-show="!passwordError"></strong>
            <strong translate="settings.passwordError" ng-show="passwordError"></strong>
          </div>

          <div class="panel-body">
            <div class="form-group">
              <input type="password" class="form-control" minlength="6" required placeholder="{{'settings.oldPassword' | translate}}" ng-model="password.old">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" minlength="6" required placeholder="{{'settings.newPassword' | translate}}" ng-model="password.new">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" minlength="6" required placeholder="{{'settings.newPasswordConfirm' | translate}}" ng-model="password.new2" validate-compare-to="password.new">
            </div>
          </div>

          <div class="panel-footer">
            <button type="submit" class="btn btn-success" ladda="updatingPassword" data-style="zoom-in" ng-disabled="passwordForm.$invalid">
              <i class="fa fa-check"></i>
              <span translate="settings.updatePassword"></span>
            </button>
          </div>

        </div>
      </form>

    </div>
  </div>

</div>
