# Eclipse
.project
.classpath
.settings/

# IntelliJ
.idea
*.iws
*.iml
*.ipr

# Third party libraries
node_modules/
src/main/webapp/lib/

# Build
target/
.sass-cache/
.tmp/
src/main/webapp/dist/

# Others
TODO.md
src/main/webapp/css/
src/main/webapp/images/sprites/
