# Eclipse
.project
.classpath
.settings/

# IntelliJ
.idea
*.iws
*.iml
*.ipr

# Third party libraries
node_modules/
src/main/resources/static/lib/

# Build
target/
.sass-cache/
.tmp/
src/main/resources/static/dist/

# Others
TODO.md
src/main/resources/static/css/
src/main/resources/static/images/sprites/
