# Eclipse
.project
.classpath
.settings/

# IntelliJ
.idea
*.iws
*.iml
*.ipr

# Third party libraries
node_modules/
src/main/webapp/lib/
package-lock.json

# Build
target/
.sass-cache/
.tmp/
*.tmp
src/main/webapp/dist/
src/main/webapp/css/
