<h2 translate="admin.title"></h2>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <i class="fa fa-users"></i>
        <strong translate="admin.users"></strong>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-2" translate="register.name"></th>
            <th class="col-md-2" translate="login.email"></th>
            <th class="col-md-2" translate="admin.wager"></th>
            <th class="col-md-2" translate="admin.role"></th>
            <th class="col-md-2" translate="admin.createdDate"></th>
            <th class="col-md-2" translate="admin.lastModifiedDate"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td><span class="badge">{{user.wager}}</span></td>
            <td>{{user.role}}</td>
            <td>{{user.createdDate | shoutTime}}</td>
            <td>{{user.lastModifiedDate | shoutTime}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
