<div class="animated fadeIn">

  <h2 translate="bets.title"></h2>

  <form role="form" ng-submit="send()" name="form">

    <div class="row" ng-repeat="group in groups">
      <div class="col-md-12">
        <div class="panel panel-default">

          <div class="panel-heading">
            <strong translate="group.{{group.id}}"></strong>
          </div>

          <table class="table table-striped table-condensed">
            <thead>
              <tr class="hidden-xs">
                <th>#</th>
                <th class="col-md-3" translate="bets.date"></th>
                <th class="col-md-2" translate="bets.venue"></th>
                <th class="col-md-2" translate="bets.teamHome"></th>
                <th class="col-md-2" translate="bets.teamAway"></th>
                <th class="col-md-1" translate="bets.result"></th>
                <th class="col-md-1" translate="bets.bet"></th>
                <th class="col-md-1" translate="bets.points"></th>
                <th>&nbsp;</th>
              </tr>
              <tr class="visible-xs">
                <th><i class="fa fa-clock-o"></i></th>
                <th><i class="fa fa-flag"></i></th>
                <th><i class="fa fa-flag-o"></i></th>
                <th>=</th>
                <th><i class="fa fa-hand-o-right"></i></th>
                <th><i class="fa fa-star-o"></i></th>
                <th>&nbsp;</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="game in group.games" id="{{game.id}}" ng-class="{info: highlightedGameId == game.id}">

                <td class="hidden-xs vert-align">{{game.id}}</td>
                <td class="hidden-xs vert-align">{{game.kickoffTime | myDate}}</td>
                <td class="visible-xs vert-align">{{game.kickoffTime | myDateShort}}</td>
                <td class="hidden-xs vert-align">{{game.location.city}}</td>

                <td class="vert-align">
                  <span ng-if="!game.teamHome">
                    <i class="fa fa-question-circle"></i>
                  </span>
                  <span ng-if="game.teamHome">
                    <span class="icon flag-{{game.teamHome.id}}"></span>
                    <span class="hidden-xs" translate="team.{{game.teamHome.id}}"></span>
                    <span class="visible-xs">{{game.teamHome.id | uppercase}}</span>
                  </span>
                </td>

                <td class="vert-align">
                  <span ng-if="!game.teamAway">
                    <i class="fa fa-question-circle"></i>
                  </span>
                  <span ng-if="game.teamAway">
                    <span class="icon flag-{{game.teamAway.id}}"></span>
                    <span class="hidden-xs" translate="team.{{game.teamAway.id}}"></span>
                    <span class="visible-xs">{{game.teamAway.id | uppercase}}</span>
                  </span>
                </td>

                <td class="vert-align nowrap">
                  <span ng-if="game.scoreHome >= 0 && game.scoreAway >= 0">
                    {{game.scoreHome}}:{{game.scoreAway}}
                  </span>
                  <span ng-if="!(game.scoreHome >= 0 && game.scoreAway >= 0)">
                    -:-
                  </span>
                  <span ng-if="game.notes">
                    <br>{{game.notes}}
                  </span>
                </td>

                <td class="vert-align">
                  <span ng-if="!hasStarted(game)">
                    <input class="form-control has-error" type="text" placeholder="-:-" maxlength="4" ng-model="game.bets[0]" ng-pattern="/^\d{1,2}:\d{1,2}$/" my-bet>
                  </span>
                  <span ng-if="hasStarted(game)">
                    <!-- Display non editable bets if game has already started -->
                    <span ng-if="game.bets[0]">{{game.bets[0] | bet}}</span>
                    <span ng-if="!game.bets[0]">
                      <i class="fa fa-times"></i>
                    </span>
                  </span>
                </td>

                <td class="vert-align">
                  <span ng-if="!hasStarted(game)">-</span>
                  <span ng-if="hasStarted(game)">
                    <span ng-if="game.scoreHome >= 0 && game.scoreAway >= 0">{{game.pointsEarned}}</span>
                    <span ng-if="!(game.scoreHome >= 0 && game.scoreAway >= 0)">
                      <i class="fa fa-clock-o" title="{{'bets.waitForResult' | translate}}"></i>
                    </span>
                  </span>
                </td>

                <td class="vert-align">
                  <button type="button" class="btn btn-default btn-xs" title="{{'bets.otherBets' | translate}}" ng-click="showOther(game)">
                    <i class="fa fa-users"></i>
                  </button>
                </td>

              </tr>
            </tbody>
          </table>

          <div class="panel-footer">
            <button type="submit" class="btn btn-success" ladda="saving" data-style="zoom-in" ng-disabled="form.$invalid">
              <i class="fa fa-check"></i>
              <span translate="bets.save"></span>
            </button>
          </div>

        </div>
      </div>
    </div>

  </form>

</div>
