<div class="animated fadeIn">

  <h2>
    <span translate="ladder.title"></span>
    <small>nach {{progress.finished}} von {{progress.amount}} Spielen</small>
  </h2>

  <div class="row">
    <div ng-class="{'col-md-6': jackpot > 0, 'col-md-12': jackpot <= 0}">
      <div class="panel panel-info">
        <div class="panel-heading">
          <i class="fa fa-list-ol"></i>
          <strong translate="ladder.overall"></strong>
        </div>
        <div class="list-group">
          <div class="list-group-item ladder-rank" ng-class="{bold: rank.user.id == account.id}" ng-repeat="rank in ladder">
            <div class="row">
              <div class="col-xs-1">
                {{rank.position}}.
              </div>
              <div class="col-sm-2 hidden-xs">
                <img ng-src="api/users/avatar/{{rank.user.id}}" alt="{{rank.user.name}}" class="img-responsive img-circle">
              </div>
              <div class="col-sm-8 col-xs-9">
                {{rank.user.name}}
              </div>
              <div class="col-xs-1">
                <span class="badge">{{rank.points}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6" ng-if="jackpot > 0">
      <div class="panel panel-success">
        <div class="panel-heading">
          <i class="fa fa-money"></i>
          <strong translate="ladder.jackpot"></strong>
        </div>
        <div class="list-group">
          <div class="list-group-item ladder-rank" ng-class="{bold: rank.user.id == account.id}" ng-repeat="rank in ladderJackpot">
            <div class="row">
              <div class="col-xs-1">
                {{rank.position}}.
              </div>
              <div class="col-sm-2 hidden-xs">
                <img ng-src="api/users/avatar/{{rank.user.id}}" alt="{{rank.user.name}}" class="img-responsive img-circle">
              </div>
              <div class="col-sm-8 col-xs-9">
                {{rank.user.name}}
              </div>
              <div class="col-xs-1">
                <span class="badge">{{rank.points}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-footer" translate="ladder.jackpotDescription" translate-values="{jackpot: jackpot}"></div>
      </div>
    </div>
  </div>

</div>
