<div class="animated fadeIn">

  <h2 translate="login.title"></h2>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="panel panel-default" ng-class="{'panel-primary': !error, 'panel-danger': error}">

        <div class="panel-heading">
          <strong translate="login.loginHere" ng-show="!error"></strong>
          <strong translate="login.error" ng-show="error"></strong>
        </div>

        <div class="panel-body">
          <form role="form" ng-submit="login()" name="form">
            <div class="form-group">
              <input type="email" class="form-control" tabindex="1" required placeholder="{{'login.email' | translate}}" ng-model="credentials.email" focus-me="{{focusInput}}">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" tabindex="2" required placeholder="{{'login.password' | translate}}" ng-model="credentials.password">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" tabindex="3" ng-model="credentials.rememberMe">
                <span translate="login.rememberMe"></span>
              </label>
              <span class="hidden-xs">·</span>
              <a class="hidden-xs" href="#/lostpwd" tabindex="5" translate="login.lostPassword"></a>
            </div>
            <button type="submit" class="btn btn-success" tabindex="4" ladda="sending" data-style="zoom-in" ng-disabled="form.$invalid">
              <i class="fa fa-sign-in"></i>
              <span translate="login.signIn"></span>
            </button>
          </form>
        </div>

        <div class="panel-footer">
          <a class="btn btn-primary" href="#/register" role="button">
            <i class="fa fa-user-plus"></i>
            <span translate="login.register"></span>
          </a>
        </div>

      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
      <img src="images/logo-banner.jpg" alt="UEFA Euro 2024" class="img-responsive img-rounded">
    </div>
  </div>

</div>
