<div class="modal-header">
  <h3 class="modal-title"><span translate="bets.otherBetsTitle" translate-values="{gameId: game.id}"></span> <span ng-if="game.scoreHome && game.scoreAway">({{game.scoreHome}}:{{game.scoreAway}})</span></h3>
</div>
<div class="modal-body">
  <table class="table table-condensed" ng-if="bets">
    <tbody>
      <tr ng-repeat="bet in bets" class="{{bet.cssClass}}">
        <td>{{bet.user.name}}</td>
        <td>{{bet.scoreHome}}:{{bet.scoreAway}}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-info" ng-if="!hasStarted" translate="bets.otherBetsLocked"></p>
  <p class="text-info" ng-if="hasStarted && !bets" translate="bets.otherEmpty" translate-values="{gameId: game.id}"></p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>
