<h2 translate="questions.title"></h2>

<form role="form" ng-submit="send()" name="form">
    <div class="panel panel-default">

    <table class="table table-striped">
      <thead>
        <tr class="hidden-xs">
          <th translate="questions.question"></th>
          <th translate="questions.deadline"></th>
          <th class="col-xs-2" translate="questions.userAnswer"></th>
          <th translate="questions.correctAnswer"></th>
          <th translate="questions.pointsPossible"></th>
          <th translate="questions.pointsEarned"></th>
          <th>&nbsp;</th>
        </tr>
        <tr class="visible-xs">
          <th><i class="fa fa-question"></i></th>
          <th><i class="fa fa-clock-o"></i></th>
          <th><i class="fa fa-hand-o-right"></i></th>
          <th>=</th>
          <th><i class="fa fa-star"></i></th>
          <th><i class="fa fa-star-o"></i></th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>

        <tr ng-repeat="question in questions">

          <td class="vert-align">{{question.question}}</td>
          <!-- TODO: Timestamp formatting -->
          <td class="hidden-xs vert-align">{{question.deadline | myDate}}</td>
          <td class="visible-xs vert-align">{{question.deadline | myDateShort}}</td>

          <td class="vert-align">
            <span ng-if="!deadlinePassed(question)">
              <input class="form-control" type="text" ng-model="question.answers[0].answer">
            </span>
            <span ng-if="deadlinePassed(question)">
              <!-- Display non editable field if deadline has already been passed -->
              <span ng-if="question.answers[0].answer">{{question.answers[0].answer}}</span>
              <span ng-if="!question.answers[0].answer">
                <i class="fa fa-times"></i>
              </span>
            </span>
          </td>

          <td class="vert-align">
            <span ng-if="question.correctAnswer">{{question.correctAnswer}}</span>
            <span ng-if="!question.correctAnswer">
              <i class="fa fa-question-circle"></i>
            </span>
          </td>

          <td class="vert-align">{{question.points}}</td>

          <td class="vert-align">
            <span ng-if="!deadlinePassed(question)">-</span>
            <span ng-if="deadlinePassed(question)">
              <span ng-if="question.pointsEarned >= 0">{{question.pointsEarned}}</span>
              <span ng-if="!question.pointsEarned && question.pointsEarned != 0">
                <i class="fa fa-clock-o" title="{{'bets.waitForResult' | translate}}"></i>
              </span>
            </span>
          </td>

          <td class="vert-align">
            <button type="button" class="btn btn-default btn-xs" title="{{'bets.otherBets' | translate}}" ng-click="showOther(question)">
              <i class="fa fa-users"></i>
            </button>
          </td>

        </tr>
      </tbody>
    </table>

    <div class="panel-footer">
      <button type="submit" class="btn btn-success" ladda="saving" data-style="zoom-in">
        <i class="fa fa-check"></i>
        <span translate="bets.save"></span>
      </button>
    </div>

  </div>
</form>
