<div class="animated fadeIn">

  <h2 translate="questions.title"></h2>

  <form role="form" ng-submit="send()" name="form">
    <div class="panel panel-default">

      <table class="table table-striped">
        <thead class="hidden-xs">
          <tr>
            <th translate="questions.question"></th>
            <th translate="questions.deadline"></th>
            <th class="col-xs-2" translate="questions.userAnswer"></th>
            <th translate="questions.correctAnswer"></th>
            <th translate="questions.pointsPossible"></th>
            <th translate="questions.pointsEarned"></th>
            <th>&nbsp;</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="question in questions">

            <td class="vert-align">{{question.question}}</td>
            <td class="hidden-xs vert-align">{{question.deadline | myDate}}</td>

            <td class="vert-align">
              <span ng-if="!deadlinePassed(question)">
                <input class="form-control" type="text" ng-model="question.answers[0].answer">
              </span>
              <span ng-if="deadlinePassed(question)">
                <!-- Display non editable field if deadline has already been passed -->
                <span ng-if="question.answers[0].answer">{{question.answers[0].answer}}</span>
                <span ng-if="!question.answers[0].answer">
                  <i class="fa fa-times"></i>
                </span>
              </span>
            </td>

            <td class="vert-align hidden-xs">
              <span ng-if="question.correctAnswer">{{question.correctAnswer}}</span>
              <span ng-if="!question.correctAnswer">
                <i class="fa fa-question-circle"></i>
              </span>
            </td>

            <td class="vert-align hidden-xs">{{question.points}}</td>

            <td class="vert-align hidden-xs">
              <span ng-if="!deadlinePassed(question)">-</span>
              <span ng-if="deadlinePassed(question)">
                <span ng-if="question.correctAnswer">{{question.pointsEarned}}</span>
                <span ng-if="!(question.correctAnswer)">
                  <i class="fa fa-clock-o" title="{{'bets.waitForResult' | translate}}"></i>
                </span>
              </span>
            </td>

            <td class="vert-align">
              <button type="button" class="btn btn-default btn-xs" title="{{'bets.otherBets' | translate}}" ng-click="showOther(question)">
                <i class="fa fa-users"></i>
              </button>
            </td>

          </tr>
        </tbody>
      </table>

      <div class="panel-footer">
        <button type="submit" class="btn btn-success" ladda="saving" data-style="zoom-in">
          <i class="fa fa-check"></i>
          <span translate="bets.save"></span>
        </button>
      </div>

    </div>
  </form>

</div>
